/* MEDIA QUERY TEMPLATE
  @media only screen and (min-width: 1240px) {}
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
         only screen and (min--moz-device-pixel-ratio: 1.5),
         only screen and (min-device-pixel-ratio: 1.5) { }
  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heart:before {
  content: "\e605"; }

.icon-instagram:before {
  content: "\e602"; }

.icon-twitter:before {
  content: "\e601"; }

.icon-facebook:before {
  content: "\e603"; }

.icon-pinterest-p:before {
  content: "\e600"; }

.icon-copyright:before {
  content: "\e604"; }

/*********************
RESPONSIVE HELPER FUNCTION
If you're creating a responsive site, then
you've probably already read
Responsive Web Design: http://www.abookapart.com/products/responsive-web-design

Here's a nice little helper function for calculating
target / context
as mentioned in that book.

Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
.dark {
  background-color: #eee; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }

body {
  font: 400 13px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

a:focus {
  outline: none; }

::selection {
  color: #fff;
  background-color: #ED018D; }

.container {
  margin: 0px auto;
  padding: 0px 8%; }

p {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3; }

[class*='bit-'] {
  float: left;
  padding: 10px; }

[class*='bit-']:last-of-type {
  padding-right: 0px;
  float: right; }

.bit-1 {
  width: 100%; }

.bit-2 {
  width: 50%; }

.bit-21 {
  width: 70%; }

.bit-3 {
  width: 33.33%; }

.bit-31 {
  width: 30%; }

.bit-4 {
  width: 25%; }

.bit-5 {
  width: 20%; }

.bit-51 {
  width: 15%; }

.bit-6 {
  width: 16.6666666667%; }

.bit-7 {
  width: 14.2857142857%; }

.bit-8 {
  width: 12.5%; }

.bit-9 {
  width: 11.1111111111%; }

.bit-10 {
  width: 10%; }

.bit-11 {
  width: 9.09090909091%; }

.bit-12 {
  width: 8.33%; }

/* Landscape and down
===============================*/
.left {
  position: fixed;
  top: 0;
<<<<<<< HEAD
  left: -20%;
  -webkit-transition: all 0.5s;
  /* Safari */
  transition: all 0.5s; }

.header {
  background-color: white; }
  .header .header-wrap .logo img {
    max-height: 80px; }
  .header .header-wrap .ico-burger {
    padding: 0; }
    .header .header-wrap .ico-burger .menu-burger {
      position: absolute;
      display: block;
      right: 20px;
      top: 25px;
      cursor: pointer;
      color: #fdc92e; }
  .header .header-wrap .burger {
    padding: 0; }
    .header .header-wrap .burger .nav-burger {
      position: fixed;
      height: 100%;
      width: 80%;
      background-color: #716553;
      top: 0%;
      right: -80%;
      overflow-y: auto;
      -webkit-transition: all 0.5s;
      /* Safari */
      transition: all 0.5s; }
      .header .header-wrap .burger .nav-burger ul {
        float: none;
        padding: 0; }
      .header .header-wrap .burger .nav-burger li {
        padding-bottom: 15px;
        padding-top: 15px;
        display: block;
        border-bottom: 1px solid #84735F; }
        .header .header-wrap .burger .nav-burger li a {
          padding: 20px;
          font-size: 16px;
          color: #fff; }
          .header .header-wrap .burger .nav-burger li a :hover {
            padding: 20px; }
    .header .header-wrap .burger .nav-burger-close {
      position: fixed;
      height: 100%;
      width: 20%;
      top: 0;
      left: -20%;
      -webkit-transition: all 0.5s;
      /* Safari */
      transition: all 0.5s; }
  .header .navigation {
    margin-top: 25px;
    text-align: right; }
    .header .navigation ul {
      margin: 0;
      padding: 0; }
    .header .navigation li {
      display: inline-block;
      margin-left: 30px; }
      .header .navigation li a {
        font-size: 16px; }
    .header .navigation .nav-list {
      list-style: none; }
      .header .navigation .nav-list .sub-menu {
        list-style: none; }

.steps {
  background-color: orange;
  display: inline-block; }
  .steps .steps-wrap {
    margin-top: 30px; }
    .steps .steps-wrap h2 {
      text-align: center; }
    .steps .steps-wrap .steps-item {
      margin-bottom: 25px; }

.sct-title {
  padding: 10px 0px; }

.review-list .work-item img {
  max-height: 150px; }

.review-title {
  margin: 15px 0;
  padding: 10px 0; }
  .review-title .review-wrap {
=======
  bottom: 0;
  left: 0;
  right: 0;
  width: 15%;
  border-right: 1px solid #A1A1A1;
  padding: 0;
  display: inline-block; }
  .left .header {
    background-color: #fff;
    bottom: 0; }
    .left .header .logo {
      padding: 15px 10px; }
    .left .header .btn-warning {
      margin: 25px 30px;
      border-color: #FCD121;
      background-color: #FCD121; }
    .left .header .more {
      padding: 0 17px; }
      .left .header .more .btn {
        background-color: #fff;
        border-color: #FCD121; }
    .left .header .menu-dis {
      padding-left: 15px;
      margin-top: 40px; }
      .left .header .menu-dis p {
        margin-bottom: 0;
        color: #A1A1A1;
        font-size: 10px; }
      .left .header .menu-dis ul {
        list-style: none;
        padding: 0; }
        .left .header .menu-dis ul a {
          color: #4A4746;
          font-size: 14px; }
    .left .header .menu-rev {
      padding-left: 15px;
      margin-top: 25px; }
      .left .header .menu-rev p {
        margin-bottom: 0;
        color: #A1A1A1;
        font-size: 10px; }
      .left .header .menu-rev ul {
        list-style: none;
        padding: 0; }
        .left .header .menu-rev ul a {
          color: #4A4746;
          font-size: 14px; }
    .left .header .menu {
      padding-left: 15px;
      margin-top: 25px; }
      .left .header .menu ul {
        list-style: none;
        padding: 0; }
        .left .header .menu ul a {
          color: #4A4746;
          font-size: 14px; }
    .left .header .bottom {
      background-color: #4D4A49;
      padding: 10px 10px;
      margin-top: 80px; }
      .left .header .bottom .social-media {
        padding: 10px 0;
        margin-left: 5px; }
        .left .header .bottom .social-media a {
          padding-left: 20px;
          color: #EFEFEF;
          text-decoration: none; }
      .left .header .bottom a {
        color: #EFEFEF; }
      .left .header .bottom .copyright {
        color: #EFEFEF; }

.body {
  margin-left: 15%;
  position: absolute;
  padding: 0; }
  .body .guide-wrap {
    display: inline-block;
    padding: 0 10px; }
    .body .guide-wrap .title-guide {
      border-bottom: 1px solid #FCD121;
      font-size: 14px;
      color: #7E7058; }
    .body .guide-wrap h3 {
      font-size: 16px; }
    .body .guide-wrap .guide-list .tag-pict {
      color: #A1A1A1;
      font-size: 10px; }
    .body .guide-wrap .guide-list .title-cafe {
      color: #4A4746;
      font-size: 16px;
      font-weight: bold; }
  .body .review-wrap {
    background-color: #EFEFEF;
    display: inline-block;
    padding: 0 10px; }
    .body .review-wrap .title-guide {
      font-size: 14px;
      color: #7E7058; }
    .body .review-wrap h3 {
      font-size: 16px; }
    .body .review-wrap .review-list .white-wrapper {
      background-color: #fff;
      padding: 5px; }
      .body .review-wrap .review-list .white-wrapper .title-cafe {
        color: #569FD7;
        font-size: 16px;
        font-weight: bold; }
      .body .review-wrap .review-list .white-wrapper .loved {
        border-bottom: 2px solid #EFEFEF;
        padding-bottom: 5px;
        margin-left: 5px; }
        .body .review-wrap .review-list .white-wrapper .loved .icon-heart {
          font-size: 16px;
          margin-right: 5px; }
      .body .review-wrap .review-list .white-wrapper .prof {
        margin: 0;
        color: #A1A1A1; }
        .body .review-wrap .review-list .white-wrapper .prof img {
          margin-right: 10px; }
  .body .popular-wrap {
    padding: 0 10px;
>>>>>>> a396811b860371835cf775d9677afc219789eb59
    display: inline-block; }
    .body .popular-wrap .title-guide {
      border-bottom: 1px solid #FCD121;
      color: #7E7058; }
    .body .popular-wrap h3 {
      font-size: 16px; }
    .body .popular-wrap ul {
      list-style: none;
      padding-left: 20px; }
      .body .popular-wrap ul li {
        display: inline-block;
        margin: 25px 0 5px 0; }
      .body .popular-wrap ul a {
        color: #4A4746;
        background-color: #FBD120;
        border-radius: 10px;
        padding: 10px 15px; }
      .body .popular-wrap ul :hover {
        color: #fff;
        background-color: #569FD7; }
  .body .event-wrap {
    padding: 0 10px;
    margin-bottom: 40px; }
    .body .event-wrap .title-guide {
      border-bottom: 1px solid #FCD121;
      font-size: 14px;
      color: #7E7058; }
    .body .event-wrap h3 {
      font-size: 16px; }
    .body .event-wrap ul {
      list-style: none;
      padding-right: 20px;
      padding-left: 20px;
      margin: 0; }
      .body .event-wrap ul li {
        display: inline-block;
        margin: 40px 10px 5px 10px; }
      .body .event-wrap ul a {
        color: #FBD124;
        background-color: #6F6E6C;
        border-radius: 100%;
        padding: 25px;
        font-size: 32px; }
      .body .event-wrap ul p {
        font-size: 12px; }

.right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  padding-right: 0px; }
  .right .upper {
    padding: 0 10px; }
    .right .upper h3 {
      padding-bottom: 15px;
      font-size: 16px; }
    .right .upper .profile-community {
      margin-bottom: 15px; }
      .right .upper .profile-community a {
        color: #4A4746;
        text-decoration: none; }
  .right .subscribe {
    background-color: #569FD7;
    color: #fff;
    padding: 2px 10px 28px 10px; }
    .right .subscribe h3 {
      margin: 10px 0 10px 0;
      font-size: 14px;
      text-align: center;
      padding: 10px 0; }
    .right .subscribe p {
      text-align: center;
      padding: 0 15px; }
    .right .subscribe .btn {
      color: #569FD7;
      margin: 5px 40px; }
