//----------------------------------*\
// Help
//----------------------------------*/
  /* MEDIA QUERY TEMPLATE
  @media only screen and (min-width: 1240px) {}
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
         only screen and (min--moz-device-pixel-ratio: 1.5),
         only screen and (min-device-pixel-ratio: 1.5) { }
  */
  // Trace
  // .trace_bg {
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   z-index: -1;
  //   margin-left: -512px;
  // }

//----------------------------------*\
// Import
//----------------------------------*/
  @import "bourbon/bourbon";
  @import "neat/neat";
  @import "fonts";
  @import "vars";
  @import "mixins";
  @import "function";
  @import "misc";
  @import "normalize";
  // @import 'vendor/external.scss';
  @import "modules";

//----------------------------------*\
// General
//----------------------------------*/
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  html {
    font-size: 62.5%;
  }
  body {
    font: 400 13px/1.6 $sans-serif;
    color: #333;
    background-color: #fff;
  }
  
  img {max-width: 100%;}
  a {text-decoration: none;}
  a:focus {outline: none;}
  ::selection {
    color: #fff;
    background-color: $clr-brand;
  }

  .container{
    margin: 0px auto;
    padding: 0px 8%;
    // padding-left: 180px;
    // padding-right: 180px;
  }
  p {
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
        word-break: break-word;
       word-break: break-word;
    // cleaning up the ragged lines and breaks
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
    // sets a minimum number of characters before and after the break
    -webkit-hyphenate-before: 2;
     -webkit-hyphenate-after: 3;
             hyphenate-lines: 3;
    // enabling fancy ligatures when available
    // -webkit-font-feature-settings: "liga", "dlig";
    //  -moz-font-feature-settings: "liga=1, dlig=1";
    //     -ms-font-feature-settings: "liga", "dlig";
    //      -o-font-feature-settings: "liga", "dlig";
    //         font-feature-settings: "liga", "dlig";
  }
//-----------------------------------*\
//  GRID SYSTEM
//-----------------------------------*/
  [class*='bit-'] {
    float: left;
    padding: 10px
  }

  [class*='bit-']:last-of-type{
    padding-right: 10px;
    float: right
  }
//----------------------------------*\
// MAIN GRID
//----------------------------------*/
  .bit-1 {
    width: 100%
  }
  .bit-2 {
  width: 50%;
  }
  .bit-21{
    width: 50%;
  }
  .bit-3 {
  width: 33.33%;
  }
  .bit-4 {
  width: 25%;
  }
  .bit-5 {
  width: 20%;
  }
  .bit-6 {
  width: 16.6666666667%;
  }
  .bit-7 {
  width: 14.2857142857%;
  }
  .bit-8 {
  width: 12.5%;
  }
  .bit-9 {
  width: 11.1111111111%;
  }
  .bit-10 {
  width: 10%;
  }
  .bit-11 {
  width: 9.09090909091%;
  }
  .bit-12 {
  width: 8.33%;
  }


/* Landscape and down
===============================*/
@media (max-width: 480px) {
  .mobile-hidden{
    display: none;
  }
  .mobile-only{
    display: inline;
  }
  .bit-1 {
    width:100%;
  }
  .bit-2 {
    width:100%;
  }
  .bit-21{
    width: 70%;
  }
  .bit-3 {
    width: 100%;
  }
  .bit-4 {
    width: 100%;
  }
  .bit-5 {
    width: 100%;
  }
  .bit-6 {
    width: 100%;
  }
  .bit-7 {
    width: 100%;
  }
  .bit-8 {
    width: 100%;
  }
  .bit-9 {
    width: 100%;
  }
  .bit-10 {
    width: 100%;
  }
  .bit-11 {
    width: 100%;
  }
  .bit-12 {
    width: 100%;
  }
  .frame .bit-4:nth-child(2) {
    float: right;
  }
  .frame .bit-4:nth-child(3) {
    clear: both;
    float: left;
  }
  .frame .bit-4:nth-child(4) {
    float: right;
  }
}

/* Landscape to Tablet Portrait
===============================*/
@media (min-width: 481px) and (max-width: 800px) {
  .mobile-hidden{
    display: none;
  }
  .mobile-only{
    display: inline;
  }
  .bit-2 {
    width:100%;
  }
  .bit-4 {
    width:50%;
  }
  .bit-5 {
    width:100%;
  }
  .bit-6 {
    width:50%;
  }
  .bit-7 {
    width:100%;
  }
  .bit-8 {
    width: 50%;
  }
  .bit-9 {
    width: 100%;
  }
  .bit-10 {
    width: 50%;
  }
  .bit-11 {
    width: 100%;
  }
  .bit-12 {
    width: 50%;
  }
}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 801px) and (max-width: 900px) {
   .mobile-only{
    display: none;
  }
  .bit-2 {
    width:100%;
  }
  .bit-21{
    width: 50%;
  }
  .bit-4 {
    width:50%;
  }
  .bit-7 {
    width:100%;
  }
  .bit-8 {
    width: 50%;
  }
  .bit-10 {
    width: 50%;
  }
  .bit-12 {
    width: 50%;
  }
}

@media (min-width: 901px) {
  .mobile-only{
    display: none;
  }
}


//----------------------------------*\
// Header
//----------------------------------*/
.burger-opened{
  position: relative;
  left: 0%;
   -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}
.nav{
  left: 0%;
   -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

.burger-opened.active{
  left: -80%;
  overflow: hidden;
}
.burger-opened.active .sec-navbar-fixed{
  left: -80%;
}
.burger.active .nav-burger{
  right: 0%;
}
.burger.active .nav-burger-close{
  left: 0%;
}
.burger .nav-burger-close{
  position: fixed;
  height: 100%;
  width: 20%;
  top: 0;
  left: -20%;
   -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

.header{
  background-color: white;
  .logo{
    img{
      max-height: 80px;
    }
  }
  .ico-burger{
    padding: 0;
    .menu-burger{
      position: absolute;
      display: block;
      right: 20px;
      top:25px;
      cursor: pointer;
      color: #fdc92e;
    }
  }

  .burger{
    padding: 0;
    .nav-burger{
      position: fixed;
      height: 100%;
      width: 80%;
      background-color: #716553;
      top: 0%;
      right: -80%;
      overflow-y:auto;
      -webkit-transition: all 0.5s; /* Safari */
      transition: all 0.5s;
      ul{
        float: none;
        padding: 0;
      }
      li{
        padding-bottom: 15px;
        padding-top: 15px;
        display: block;
        border-bottom: 1px solid #84735F;
        a{
          padding: 20px;
          font-size: 16px;
          color: #fff;
          :hover{
            padding: 20px;
          }
        }
      }
    }
    .nav-burger-close{
      position: fixed;
      height: 100%;
      width: 20%;
      top: 0;
      left: -20%;
      -webkit-transition: all 0.5s; /* Safari */
      transition: all 0.5s;
    }
  }


  .navigation{
    margin-top: 25px;
    text-align: right;
    ul{
      margin: 0;
      padding: 0
    }
    li{
      display: inline-block;
      margin-left: 30px;
      a{
         font-size: 16px;
      }
    }
    .nav-list{
      list-style: none;
      // margin-right: 15px;
        .sub-menu{
          list-style: none;
            }
        }
  }
}

.steps{
  background-color: orange;
  display: inline-block;
  .steps-wrap{
    margin-top: 30px;
    h2{
      text-align: center
    }
    .steps-item{
     margin-bottom: 25px;
    }
  }
}


.sct-title{
  padding: 10px 0px;
}
.review-list{
  .work-item{
    img{
      max-height: 150px;
    }
  }
}

.review-title{
  margin: 15px 0;
  padding: 10px 0;
  .review-wrap{
    display: inline-block;
    .review-item{
      position: relative;
      .judul-artikel{
        background: #101010;
        color: #707070;
        width: 80%;
        position: absolute;
        bottom: 65px 
      }
      .kutipan-artikel{
        // position: relative;
      }
    }
  }
}

.rate{
  .rating-wrap{
    background-color: #f1f1f1;
    .title-wrap{
      text-align: center; 
      background-color: orange;
      padding: 10px 0;
    }
      .filter-wrap{
        background-color: #f1f1f1;
        ul{
          list-style: none;
          text-align: center;
          padding: 0;
        }
        li{
          display: inline-block;
          margin: 0 15px;
        }
      }
    }

  .rating-view{
    display: inline-block;
    margin: 15px 0;
    padding: 10px 0;
    .rating-item{
      img{
        max-height: 180px;
      }
      .star-wrap{
        h3{
          margin: 5px 0;
        }
        ul{
          padding: 0;
          margin: 5px 0;
          }
        }
        p{
          margin: 5px 0;
        }
    }
  }
}

.footer{
  background-color: #101010;
  color: #707070;
  display: inline-block;
  padding-top: 25px ;
  padding-bottom: 35px;
  .widget-footer{
    h3{
      font-size: 18px;
    }
    p{
      font-size: 14px;
    }
    a{
      margin: 0 10px;
      i{
        font-size: 20px;
        color: orange;
      }
      :hover{
        color: #fff;
      }
    }
    .subscribe{
      padding-bottom: 45px;
      h3{
        font-size: 18px;
      }
      span{
        font-size: 14px;
      }
      form{
        margin: 20px 0;
        input{
          height: 30px;
        }
      }
    }
    .copyright{
      font-size: 14px;
    }
  }
}