//----------------------------------*\
// Help
//----------------------------------*/
  /* MEDIA QUERY TEMPLATE
  @media only screen and (min-width: 1240px) {}
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
         only screen and (min--moz-device-pixel-ratio: 1.5),
         only screen and (min-device-pixel-ratio: 1.5) { }
  */
  // Trace
  // .trace_bg {
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   z-index: -1;
  //   margin-left: -512px;
  // }

//----------------------------------*\
// Import
//----------------------------------*/
  @import "bourbon/bourbon";
  @import "neat/neat";
  @import "fonts";
  @import "vars";
  @import "mixins";
  @import "function";
  @import "misc";
  @import "normalize";
  // @import 'vendor/external.scss';
  @import "modules";

//----------------------------------*\
// General
//----------------------------------*/
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  html {
    font-size: 62.5%;
  }
  body {
    font: 400 13px/1.6 $sans-serif;
    color: #333;
    background-color: #fff;
  }
  
  img {max-width: 100%;}
  a {text-decoration: none;}
  a:focus {outline: none;}
  ::selection {
    color: #fff;
    background-color: $clr-brand;
  }

  .container{
    margin: 0px auto;
    padding: 0px 8%;
    // padding-left: 180px;
    // padding-right: 180px;
  }
  p {
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
        word-break: break-word;
       word-break: break-word;
    // cleaning up the ragged lines and breaks
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
    // sets a minimum number of characters before and after the break
    -webkit-hyphenate-before: 2;
     -webkit-hyphenate-after: 3;
             hyphenate-lines: 3;
    // enabling fancy ligatures when available
    // -webkit-font-feature-settings: "liga", "dlig";
    //  -moz-font-feature-settings: "liga=1, dlig=1";
    //     -ms-font-feature-settings: "liga", "dlig";
    //      -o-font-feature-settings: "liga", "dlig";
    //         font-feature-settings: "liga", "dlig";
  }
//-----------------------------------*\
//  GRID SYSTEM
//-----------------------------------*/
  [class*='bit-'] {
    float: left;
    padding: 10px
  }

  [class*='bit-']:last-of-type{
    padding-right: 10px;
    float: right
  }
//----------------------------------*\
// MAIN GRID
//----------------------------------*/
  .bit-1 {
    width: 100%
  }
  .bit-2 {
  width: 50%;
  }
  .bit-3 {
  width: 33.33%;
  }
  .bit-4 {
  width: 25%;
  }
  .bit-5 {
  width: 20%;
  }
  .bit-6 {
  width: 16.6666666667%;
  }
  .bit-7 {
  width: 14.2857142857%;
  }
  .bit-8 {
  width: 12.5%;
  }
  .bit-9 {
  width: 11.1111111111%;
  }
  .bit-10 {
  width: 10%;
  }
  .bit-11 {
  width: 9.09090909091%;
  }
  .bit-12 {
  width: 8.33%;
  }

/* Landscape and down
===============================*/
@media (max-width: 480px) {
  .bit-1 {
    width:100%;
  }
  .bit-2 {
    width:100%;
  }
  .bit-3 {
    width: 100%;
  }
  .bit-4 {
    width: 100%;
  }
  .bit-5 {
    width: 100%;
  }
  .bit-6 {
    width: 100%;
  }
  .bit-7 {
    width: 100%;
  }
  .bit-8 {
    width: 100%;
  }
  .bit-9 {
    width: 100%;
  }
  .bit-10 {
    width: 100%;
  }
  .bit-11 {
    width: 100%;
  }
  .bit-12 {
    width: 100%;
  }
  .frame .bit-4:nth-child(2) {
    float: right;
  }
  .frame .bit-4:nth-child(3) {
    clear: both;
    float: left;
  }
  .frame .bit-4:nth-child(4) {
    float: right;
  }
}

/* Landscape to Tablet Portrait
===============================*/
@media (min-width: 481px) and (max-width: 800px) {
  .bit-2 {
    width:100%;
  }
  .bit-4 {
    width:50%;
  }
  .bit-5 {
    width:100%;
  }
  .bit-6 {
    width:50%;
  }
  .bit-7 {
    width:100%;
  }
  .bit-8 {
    width: 50%;
  }
  .bit-9 {
    width: 100%;
  }
  .bit-10 {
    width: 50%;
  }
  .bit-11 {
    width: 100%;
  }
  .bit-12 {
    width: 50%;
  }
}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 801px) and (max-width: 1100px) {
  .bit-2 {
    width:100%;
  }
  .bit-4 {
    width:50%;
  }
  .bit-7 {
    width:100%;
  }
  .bit-8 {
    width: 50%;
  }
  .bit-10 {
    width: 50%;
  }
  .bit-12 {
    width: 50%;
  }
}




//----------------------------------*\
// Header
//----------------------------------*/
.header{
  background-color: white;
  .logo{
    img{
      max-height: 80px;
    }
  }

  .navigation{
    margin-top: 25px;
    text-align: right;
    ul{
      margin: 0;
      padding: 0
    }
    li{
      display: inline-block;
      margin-left: 30px;
      a{
         font-size: 16px;
      }
    }
    .nav-list{
      list-style: none;
      // margin-right: 15px;
        .sub-menu{
          list-style: none;
            }
        }
  }
}

.steps{
background-color: orange;
  .steps-wrap{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    h2{
      text-align: center
    }
  }
}


.sct-title{
  padding: 10px 0px;
}
.review-list{
  .work-item{
    img{
      max-height: 150px;
    }
  }
}

.rate{
  .rating-wrap{
      .title-wrap{
      text-align: center; 
      background-color: orange}
      .filter-wrap{
        background-color: white;
        ul{
          list-style: none;
          text-align: center;
        }
        li{
          display: inline-block;
        }
      }
    }

  //   .filter-wrap{
  //     background-color: #fff;
  //     .filter-system{
  //       list-style: none;
  //       display: table;
  //       margin: 0 auto;
  //       .li{
  //         display: inline-block;
  //       }
  //     }
  //   }
  // }

  .rating-view{
    .rating-item{
      img{
        max-height: 180px;
        .star-wrap{
          .star{
            .icon-star-full:before {
            content: "\e9d9";}
          }
        }
      }
    }
  }
}

.footer{
  background-color: #101010;
  color: #707070;
}