//----------------------------------*\
// Help
//----------------------------------*/
  /* MEDIA QUERY TEMPLATE
  @media only screen and (min-width: 1240px) {}
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
         only screen and (min--moz-device-pixel-ratio: 1.5),
         only screen and (min-device-pixel-ratio: 1.5) { }
  */
  // Trace
  // .trace_bg {
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   z-index: -1;
  //   margin-left: -512px;
  // }

//----------------------------------*\
// Import
//----------------------------------*/
  @import "bourbon/bourbon";
  @import "neat/neat";
  @import "fonts";
  @import "vars";
  @import "mixins";
  @import "function";
  @import "misc";
  @import "normalize";
  // @import 'vendor/external.scss';
  @import "modules";

//----------------------------------*\
// General
//----------------------------------*/
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  html {
    font-size: 62.5%;
  }
  body {
    font: 400 13px/1.6 $sans-serif;
    color: #333;
    background-color: #fff;
  }
  
  img {max-width: 100%;}
  a {text-decoration: none;}
  a:focus {outline: none;}
  ::selection {
    color: #fff;
    background-color: $clr-brand;
  }
  .wrp{
    padding-left: 8%;
    padding-right: 8%
  }
  p {
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
        word-break: break-word;
       word-break: break-word;
    // cleaning up the ragged lines and breaks
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
    // sets a minimum number of characters before and after the break
    -webkit-hyphenate-before: 2;
     -webkit-hyphenate-after: 3;
             hyphenate-lines: 3;
    // enabling fancy ligatures when available
    // -webkit-font-feature-settings: "liga", "dlig";
    //  -moz-font-feature-settings: "liga=1, dlig=1";
    //     -ms-font-feature-settings: "liga", "dlig";
    //      -o-font-feature-settings: "liga", "dlig";
    //         font-feature-settings: "liga", "dlig";
  }

//----------------------------------*\
// Header
//----------------------------------*/
.head{
  background-color: white;
  .header {
    // overflow: hidden;
    .logo {
      float: left;
      img{
        max-height: 80px;}
    }
  }

  .navigation{
    // float: right;
    .nav-list{
      display: inline-block;
      list-style: none;
      // margin-right: 15px;
        .sub-menu{
          list-style: none;
            }
        }
  }
}

.steps{
background-color: orange;
  .steps-wrap{
    margin: 0;
  padding-top: 15px;
  padding-bottom: 35px;
    .easy{
    text-align: center;
    padding-bottom: 5px;
    }
  }
}

.review-list{
  .work-item{
    img{
      max-height: 150px;
    }
    a{
      padding: 5px;
    }
  }
}

.section-rate{
  .rating-wrap{
    background-color: orange;
    .title-wrap{
      text-align: center;
    }

    .filter-wrap{
      background-color: #fff;
      .filter-system{
        list-style: none;
        display: table;
        margin: 0 auto;
        .li{
          display: inline-block;
        }
      }
    }
  }

  .rating-view{
    .rating-item{
      img{
        max-height: 180px;
        .star-wrap{
          .star{
            .icon-star-full:before {
            content: "\e9d9";}
          }
        }
      }
    }
  }
}